<div class="container">
  <div class="credits">
    <div class="github-logo">
      <a href="https://github.com/joe-mccann-dev/MovieBuddy">
        <img src="images/GitHub-Mark-32px.png" alt="github icon">
      </a>
    </div>
    <div class="myself">
      <a href="https://joe-mccann.dev">&copy; 2022 Joe McCann</a>
    </div>
  </div>
  <h1><a href="/" class="brand">MovieBuddy</a></h1>
  <%= erb :form %>
  <div id="loading-spinner">
    <img src="images/Spinner-1s-200px.gif" alt="loading indicator" />
  </div>
  <% if @results %>
    <ul class="results">
      <%= erb :results, collection: @results %>
    </ul>
  <% end %>
  <% if @finder && !@results %>
    <p class="error">No results found.</p>
  <% end %>
</div>
